@font-face {
  font-family: "MY TURTLE";
  src: url(./fonts/MYTURTLE.TTF);
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Popins";
  src: url(./fonts/Poppins-Medium.ttf);
  font-style: normal;
  font-display: auto;
  font-weight: 500;
}
@font-face {
  font-family: "Poor Story";
  src: url(./fonts/PoorStory-Regular.ttf);
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}
@font-face {
  font-family: "Mula";
  src: url(./fonts/Mula-Regular.otf);
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}
@font-face {
  font-family: "Mula";
  src: url(./fonts/Mula-Medium.otf);
  font-style: normal;
  font-display: auto;
  font-weight: 500;
}
@font-face {
  font-family: "Mula";
  src: url(./fonts/Mula-Black.otf);
  font-style: normal;
  font-display: auto;
  font-weight: 700;
}
@font-face {
  font-family: "Yaldevi Colombo";
  src: url(./fonts/YaldeviColombo-Regular.ttf);
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #05091c;
}
.section {
  width: 140rem;
  height: 85.6rem;
  border-radius: 4rem;
  background-color: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px 50.8326px 72.9904px -46.9224px rgba(255, 255, 255, 0.5),
    inset 0px 9.1238px 14.3374px -5.2136px #ffffff,
    inset 0px -106.879px 88.6312px -83.4176px rgba(96, 68, 145, 0.3),
    inset 0px 127.733px 130.34px -62.5632px rgba(202, 172, 255, 0.3),
    inset 0px 5.2136px 23.4612px rgba(154, 146, 210, 0.3),
    inset 0px 1.3034px 52.136px rgba(227, 222, 255, 0.2);
  backdrop-filter: blur(117.306px);
}
.header {
  width: 100%;
  height: 7rem;
  /* background-color: #172a61; */
  box-shadow: 0px 0px 40px #0a163d;
  border-radius: 4rem 4rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 3.2rem;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right .header-title {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-family: "MY TURTLE";
  padding-left: 1.4rem;
  color: #8798cc;
}
.left {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.left img {
  margin-left: 2.4rem;
}
.perioud {
  margin-right: 5rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  font-family: "Popins";
  color: rgba(255, 255, 255, 0.7);
}
.content {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding: 3.2rem;
}
.grid-item {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 40px #0a163d;
  border-radius: 3rem;
}
.profile {
  width: 32rem;
  height: 13rem;
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template: 1fr / 1fr 2fr 1fr;
  align-items: center;
  padding: 2.6rem 1.6rem;
}
.social {
  grid-row: 1/2;
  grid-column: 2/5;
  padding: 2.5rem 2.1rem;
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
}
.sales {
  grid-row: 2/4;
  grid-column: 1/3;
  background: linear-gradient(0deg, #1f3472 0%, #2e4589 100%);
  box-shadow: 11.5014px 34.5041px 34.5041px rgba(0, 0, 0, 0.08),
    0px 0px 0px 5.75068px #314b94,
    0px 2.87534px 8.62602px 5.75068px rgba(0, 0, 0, 0.1),
    inset 0px 14.3767px 17.252px 8.62602px rgba(0, 0, 0, 0.03),
    inset -2.87534px -5.75068px 11.5014px 2.87534px rgba(0, 0, 0, 0.08);
  padding: 1.6rem 2rem;
}
.revenume {
  grid-row: 4/6;
  grid-column: 1/3;
  padding: 1.6rem 2rem;
  box-shadow: 0px 0px 40px #0a163d;
  background-color: #172a61;
}
.running-task {
  grid-row: 2/6;
  grid-column: 3/5;
}

.avatar-profile {
  width: 7.6rem;
  height: 7.6rem;
  background-color: #1c3981;
  box-shadow: 0px 10.1333px 13.9333px #13224f;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.info-profile {
  font-family: "Mula";
  display: grid;
  justify-content: center;
  align-items: center;
}
.info-profile h3 {
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.info-profile p {
  color: #8798cc;
  font-size: 1.4rem;
  line-height: 2.6rem;
  font-weight: 400;
}
.dropdown-profile {
  display: grid;
  justify-content: center;
}
.dropdown-profile span {
  width: 3rem;
  height: 3rem;
  background-color: #1c3981;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.dropdown-profile span::before {
  content: url(./assets/Stroke\ 1.png);
}
.box-social {
  display: grid;
  grid-template: 1fr / 1fr 2fr 1fr;
  padding: 1.6rem 1.1rem;
  background-color: #25376c;
  border-radius: 2.2rem;
  margin-right: 1.8rem;
  height: 8rem;
}
.box-social:last-child {
  margin-right: 0;
}
.info-social {
  font-family: "Mula";
  margin-left: 1rem;
}
.info-social p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #8091c5;
  font-weight: 400;
  margin-bottom: 1rem;
}
.info-social h3 {
  font-size: 2rem;
  line-height: 2.6rem;
  color: #ffffff;
  font-weight: 700;
}
.percent {
  display: grid;
  align-items: end;
  font-family: "Mula";
  padding: 0.6rem;
}
.percent-text {
  font-size: 1.4rem;
  line-height: 1.2rem;
  color: #8091c5;
  font-weight: 400;
}
.btn-task {
  width: 20rem;
  height: 6.8rem;
  background: linear-gradient(0deg, #1f3472 0%, #5f72b8 100%);
  border-radius: 7.18rem;
  box-shadow: 11.5014px 34.5041px 34.5041px rgba(0, 0, 0, 0.08),
    0px 0px 0px 5.75068px #314b94,
    0px 2.87534px 8.62602px 5.75068px rgba(0, 0, 0, 0.1),
    inset 0px -23.0027px 0px 28.7534px rgba(0, 0, 0, 0.07),
    inset 0px 14.3767px 17.252px 8.62602px rgba(0, 0, 0, 0.03),
    inset -2.87534px -5.75068px 11.5014px 2.87534px rgba(0, 0, 0, 0.08);
  font-family: "Mula";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.3rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fffeff;
  text-shadow: 0px -1.43767px 0px #9db5ff;
  cursor: pointer;
}

.head {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  align-items: center;
  margin-bottom: 1rem;
}
.left-side {
  display: grid;
  padding-left: 1rem;
}
.left-side h3 {
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #fff;
  font-weight: 700;
  font-family: "Mula";
  margin-bottom: 1rem;
}
.left-side p {
  color: #8798cc;
  font-size: 3rem;
  line-height: 2.5rem;
  font-family: "Poor Story";
}
.right-side {
  display: grid;
  justify-content: end;
  position: relative;
}
.select {
  width: 14rem;
  margin-bottom: 1rem;
  font-family: "Popins";
  background-color: transparent;
  color: #8798cc;
  font-size: 1.4rem;
  line-height: 1.2rem;
  border: 1px solid rgba(200, 157, 255, 0.18);
  border-radius: 5rem;
  padding: 1.2rem 1.7rem;
  -webkit-appearance: none;
}
.right-side::before {
  content: url(./assets/Stroke\ 1.png);
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 0.6rem;
  top: 0.4rem;
  background-color: #1c3981;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.right-side p {
  color: #8798cc;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-family: "Yaldevi Colombo";
}
