@font-face {
  font-family: "MY TURTLE";
  src: url(./fonts/MYTURTLE.TTF);
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Popins";
  src: url(./fonts/Poppins-Medium.ttf);
  font-style: normal;
  font-display: auto;
  font-weight: 500;
}
@font-face {
  font-family: "Poor Story";
  src: url(./fonts/PoorStory-Regular.ttf);
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}
@font-face {
  font-family: "Mula";
  src: url(./fonts/Mula-Regular.otf);
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}
@font-face {
  font-family: "Mula";
  src: url(./fonts/Mula-Medium.otf);
  font-style: normal;
  font-display: auto;
  font-weight: 500;
}
@font-face {
  font-family: "Mula";
  src: url(./fonts/Mula-Black.otf);
  font-style: normal;
  font-display: auto;
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #05091c;
}
.section {
  width: 140rem;
  height: 85.6rem;
  border-radius: 4rem;
  background-color: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px 50.8326px 72.9904px -46.9224px rgba(255, 255, 255, 0.5),
    inset 0px 9.1238px 14.3374px -5.2136px #ffffff,
    inset 0px -106.879px 88.6312px -83.4176px rgba(96, 68, 145, 0.3),
    inset 0px 127.733px 130.34px -62.5632px rgba(202, 172, 255, 0.3),
    inset 0px 5.2136px 23.4612px rgba(154, 146, 210, 0.3),
    inset 0px 1.3034px 52.136px rgba(227, 222, 255, 0.2);
  backdrop-filter: blur(117.306px);
}
.header {
  width: 100%;
  height: 7rem;
  /* background-color: #172a61; */
  box-shadow: 0px 0px 40px #0a163d;
  border-radius: 4rem 4rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 3.2rem;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right .header-title {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-family: "MY TURTLE";
  padding-left: 1.4rem;
  color: #8798cc;
}
.left {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.left img {
  margin-left: 2.4rem;
}
.perioud {
  margin-right: 5rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  font-family: "Popins";
  color: rgba(255, 255, 255, 0.7);
}
.content {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding: 3.2rem;
}
.grid-item {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 40px #0a163d;
  border-radius: 3rem;
}
.profile {
  width: 32rem;
  height: 13rem;
  grid-row: 1/2;
  grid-column: 1/2;
}
.social {
  grid-row: 1/2;
  grid-column: 2/5;
}
.sales {
  grid-row: 2/4;
  grid-column: 1/3;
}
.revenume {
  grid-row: 4/6;
  grid-column: 1/3;
}
.running-task {
  grid-row: 2/6;
  grid-column: 3/5;
}
